#portfolio{
    display: flex;
    flex-direction: column;
    width: auto;
    
    
}
#proyects{
    height: 100vh;
}
.row-projects{
    display: flex;
    flex-direction:column;
    
    width:auto;
    justify-content:center;
    align-items: center;
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
    /* background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px; */
}

.portfolio-wrapper{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.item-wrap {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1%;
    margin: 5% 1%;
    width: fit-content;
    background-color: linear-gradient(145deg, #e2e8ec, #fff);
    height: 24rem;
    top: 0;
    left: 0;
    transition: 0.5s;
    position: relative;
    box-shadow: 5px 4px 20px #cbcbcb,5px -4px 20px #fff;
    border-radius: 10px; 
    justify-content: center;
    align-items: center;
}

.item-wrap:hover {
    top: -2px;
    left: -2px;
    box-shadow: 14px 14px 8px #cbcbcb, 14px -9px 8px #fff;
    transform: skew(0deg, 4deg);
    cursor: pointer;
}

.deploy{
    text-decoration: none;
    color: white;
    font-size: larger;
}

.overlay{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.overlay-dark{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}

.text-project{
    display: flex;
    width: 18rem;
    justify-content: center;
    align-items: center;
}


.button1{
    padding: 0.5% 5%;
    margin: 4% 0 0 0;
    /* background-image: linear-gradient(90deg,#008a83,greenyellow);
    background-clip: text; */
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    border-width: 3px;
    border-style: solid;
    -o-border-image: linear-gradient(90deg,#d5dcdc,rgb(9, 9, 9));
    border-image: linear-gradient(90deg,#d5dcdc,rgb(9, 9, 9));
    border-image-slice: 1;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    background: linear-gradient(-90deg, #fff, #fff, #000, #f000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    animation: gradient 15s ease infinite;
    background-clip: text;
  background-size: 400% 400%;
  background-position: 200% ;
  
}

.button1:hover{
    color: white;
    -webkit-text-fill-color: white;
}
.button1::after {
    content: "";
    background-image: linear-gradient(135deg,#d5dcdc,rgb(9, 9, 9));
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
.button1:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
.titulo-span{
    font-size: 3rem;
}
@media all and (max-width: 500px) {
    .row-projects{
        margin: 15% 0;
    }
}