.navg{
    position: fixed;
    background: rgba(255, 254, 254, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.3 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    width: 100%;
    
}
.social {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
}
.social-item{
    color: black;
    text-decoration: none;
    padding: 10%;

}
.social-item:hover{
    color: rgba(0, 0, 0, 0.637);
    
    transform: scale(1.5);
    cursor:pointer;
}
.litem{
    
}
.litem:hover{
    text-decoration-line: underline;
  text-decoration-style: solid;
  
}
