.text{
    background: linear-gradient(-90deg, #fff, #fff, #000, #f000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    animation: gradient 15s ease infinite;
    background-clip: text;
  background-size: 400% 400%;
  background-position: 100% ;
}
.download{
  background: linear-gradient(90deg, green, green, rgb(82, 255, 82), rgb(113, 255, 113));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    animation: gradient 15s ease infinite;
    background-clip: text;
  background-size: 400% 400%;
  background-position: 100% ;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.bop{
  background: linear-gradient(90deg, #000, rgb(34, 32, 32), #fff, #fff); 
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	font-family: 'Roboto Mono', monospace;
}
.boptext{
  background: linear-gradient(-90deg, #000, rgb(34, 32, 32), #fff, #fff); 
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	border-radius: 50%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}