.text{
    background: linear-gradient(-90deg, #fff, #fff, #000, #f000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    animation: gradient 15s ease infinite;
    background-clip: text;
  background-size: 400% 400%;
  background-position: 100% ;
}
.download{
  background: linear-gradient(90deg, green, green, rgb(82, 255, 82), rgb(113, 255, 113));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    animation: gradient 15s ease infinite;
    background-clip: text;
  background-size: 400% 400%;
  background-position: 100% ;
}
#btn-back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
.bop{
  background: linear-gradient(90deg, #000, rgb(34, 32, 32), #fff, #fff); 
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	font-family: 'Roboto Mono', monospace;
}
.boptext{
  background: linear-gradient(-90deg, #000, rgb(34, 32, 32), #fff, #fff); 
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	border-radius: 50%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



/* #estrella {
  margin: 50px 0;
  position: relative;
  display: block;
  color: black;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid black;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
  
  
}
 crear estrellas con blanco para que se vean cuando esta en blacno en las mismas posiciones a ver si se superponen 
 #estrella:before {
  border-bottom: 80px solid black;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
#estrella:after {
  position: absolute;
  display: block;
  color: black;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid black;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: '';
  
}
.estrella{
 width: 80px;
 height: 80px;
 opacity: 0.3;
 position: absolute;
 bottom: -150;
 
 animation: burbujas 3s linear infinite;
}

.estrella:nth-child(1){
  width: 80px;
  height: 80px;
  left: 35%;
  animation-duration: 4s;
  animation-delay: 7s;
}
.estrella:nth-child(2){
  width: 80px;
  height: 80px;
  left: 25%;
  animation-duration: 4s;
  animation-delay: 4s;
}
.estrella:nth-child(3){
  width: 80px;
  height: 80px;
  left: 40%;
  animation-duration: 4s;
  animation-delay: 5s;
}
 .estrella:nth-child(4){
  width: 80px;
  height: 80px;
  left: 75%;
  animation-duration: 4s;
  animation-delay: 7s;
}
.estrella:nth-child(5){
  width: 80px;
  height: 80px;
  left: 90%;
  animation-duration: 4s;
  animation-delay: 1s;
}  */

/* crear estrellas con blanco para que se vean cuando esta en blacno en las mismas posiciones a ver si se superponen */
#fondskill{
  display:flex;
  
}
.fondskill{
  width: 60px;
  height: 60px;
  
  opacity: 0.3;
  position: absolute;
  bottom: -150;
  filter: saturate(20%);
  animation: burbujas 3s linear infinite;
  
}

.fondskill:nth-child(1){
  width: 60px;
  height: 60px;
  left: 5%;
  animation-duration: 4s;
  animation-delay: 1s;
} 
.fondskill:nth-child(2){
  width: 60px;
  height: 60px;
  left: 20%;
  animation-duration: 4s;
  animation-delay: 2s;
} 
.fondskill:nth-child(3){
  width: 60px;
  height: 60px;
  left: 30%;
  animation-duration: 4s;
  animation-delay: 7s;
} 
.fondskill:nth-child(4){
  width: 60px;
  height: 60px;
  left: 40%;
  animation-duration: 4s;
  animation-delay: 3s;
} 
.fondskill:nth-child(5){
  width: 60px;
  height: 60px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 4s;
} 
.fondskill:nth-child(6){
  width: 60px;
  height: 60px;
  left: 60%;
  animation-duration: 4s;
  animation-delay: 5s;
} 
.fondskill:nth-child(7){
  width: 60px;
  height: 60px;
  left: 70%;
  animation-duration: 4s;
  animation-delay: 6s;
} 
.fondskill:nth-child(8){
  width: 60px;
  height: 60px;
  left: 80%;
  animation-duration: 4s;
  animation-delay: 1s;
} 
.fondskill:nth-child(9){
  width: 60px;
  height: 60px;
  left: 90%;
  animation-duration: 4s;
  animation-delay: 10s;
} 
.fondskill:nth-child(10){
  width: 60px;
  height: 60px;
  left: 10%;
  animation-duration: 4s;
  animation-delay: 5s;
} 

@keyframes burbujas {
  0%{
    bottom: 0;
    opacity: 0;
   

  }
  30%{
    transform: translateX(30px);
  }
  50%{
    opacity: .4;
  }
  100%{
    bottom: 100vh;
    opacity: 0;
    
  }

}


