#back-to-top{
    background-color: white;
    height: 35px;
    border-radius: 100px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
    color: black;
    margin-top:25%;
    position: fixed;
    
}
.bop{
    
    
    
    z-index: 10;
    
    border: 1px solid black;
    width: fit-content ;
    border-radius: 100%;
    margin-left: 3%;
    padding: 1%;
    background-color: transparent;
    box-shadow: 0 8px 32px 0 rgba(227, 227, 227, 0.37);
   
    
}
.bop:hover{
    background-color: rgba(0, 0, 0, 0.7); 
    
}
.b2{
    color:black;
    text-decoration: none;
}
.b2:hover{
    color:gray;
}
.bop2{
    
    
    
    
    width: 100%;
    
    margin: 3%;
    padding: 1%;
    background-color: transparent;
    
   
}

.arrow{ 
    color: white;
}
.arrow:hover{
    color: white;
}
