@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
.app {
	
	   /* background: linear-gradient(-90deg, #f0f35b, #e79e31, #3db6ce, #2355d5);    */
	  background: linear-gradient(-90deg, #000, rgb(34, 32, 32), #fff, #fff); 
	   /*probar que no sea de blanco a negro, sino que termine en otro tono  */
	  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);   */
	/* background: linear-gradient(-45deg, #eec752, #a03ce7, #d57c23, #6d23d5); */
	/* background: linear-gradient(-45deg, rgba(86, 54, 137, 0.668) 0%, rgba(9,94,121,1) 39%, rgba(0,212,255,1) 100%); */
	/* background: linear-gradient(-45deg, #eecf52, #e73c59, #23d5a8, #23d53b); */
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	font-family: 'Roboto Mono', monospace;
	
}
.pic-cont{
    padding-top: 10%;
	
}
.circlepicture{
	
	opacity: 0.5;
	height: 400px;
	width: 400px;
	position: absolute;
	z-index: 81;
	border-radius: 50%;
	background: radial-gradient(circle at center, transparent 60%, rgb(115, 115, 115) 50%);
 
	top: 27%;
	left: 65.5%;
}
.picture{
	position: relative;
	cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    border-radius: 50%;
	z-index: 90;
	clip-path: polygon(41% 11%, 36% 13%, 34% 16%, 31% 17%, 27% 20%, 23% 23%, 22% 27%, 22% 31%, 24% 33%, 24% 36%, 24% 42%, 24% 45%, 23% 46%, 23% 49%, 24% 52%, 28% 58%, 30% 57%, 30% 62%, 32% 66%, 33% 69%, 34% 74%, 34% 80%, 33% 83%, 26% 87%, 17% 91%, 10% 94%, 3% 98%, 1% 100%, 100% 100%, 100% 88%, 95% 85%, 88% 84%, 78% 82%, 73% 82%, 66% 80%, 66% 72%, 67% 69%, 69% 67%, 71% 64%, 72% 60%, 74% 56%, 75% 53%, 76% 47%, 75% 40%, 76% 34%, 76% 30%, 75% 25%, 72% 21%, 68% 17%, 61% 14%, 55% 12%, 48% 11%);
}
.picture:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
h6{
    text-decoration: none;
}
a{
    text-decoration: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
