

.app {
	   background: linear-gradient(-90deg, #f0f35b, #e79e31, #3db6ce, #2355d5);   
	  /* background: linear-gradient(-90deg, #fcff2e, #61a633, #3db6ce, #1609c5);   */
	  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);   */
	/* background: linear-gradient(-45deg, #eec752, #a03ce7, #d57c23, #6d23d5); */
	/* background: linear-gradient(-45deg, rgba(86, 54, 137, 0.668) 0%, rgba(9,94,121,1) 39%, rgba(0,212,255,1) 100%); */
	/* background: linear-gradient(-45deg, #eecf52, #e73c59, #23d5a8, #23d53b); */
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
	
}
.pic-cont{
    padding-top: 10%;
}
.picture{
    
    border-radius: 50%;
}
h6{
    text-decoration: none;
}
a{
    text-decoration: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}